<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <!-- provincia procs-->
    <add key="Listar_provincias" value="ADMINISTRATIVO.Listar_Provicia"/>
    <add key="Filtrar_provincia" value="ADMINISTRATIVO.Filtrar_Provicia"/>
    <add key="Insert_Provincia" value="ADMINISTRATIVO.Insert_Provincia"/>
    <add key="Delete_Provincia" value="ADMINISTRATIVO.SP_DeleteProvincia"/>
    <add key="Update_Provincia" value="ADMINISTRATIVO.Update_Provincia"/>

    <!-- Beneficiarios procs-->
    <add key="Listar_beneficiario" value="COMERCIAL.Listar_Beneficiario"/>
    <add key="Insert_Beneficiario" value="COMERCIAL.Insert_Beneficiario"/>
    <add key="Update_Beneficiario" value="COMERCIAL.Update_Beneficiario"/>
    <add key="Delete_Beneficiario" value="COMERCIAL.SP_DeleteBeneficiario"/>
    <add key="Filtrar_Beneficiario" value="COMERCIAL.Filtrar_Beneficiario"/>

    <!-- Cobertura procs-->
    <add key="Insert_Cobertura" value="COMERCIAL.Insert_COBERTURA"/>
    <add key="Listar_cobertura" value="COMERCIAL.Listar_COBERTURA"/>
    <add key="Update_Cobertura" value="COMERCIAL.Update_COBERTURA"/>
    <add key="Delete_Cobertura" value="COMERCIAL.SP_DeleteCOBERTURA"/>
    <add key="Filtrar_Cobertura" value="COMERCIAL.Filtrar_Cobertura"/>

    <!-- Planes procs-->

    <add key="Listar_Planes" value="COMERCIAL.Listar_Planes"/>
    <add key="Insert_Planes" value="COMERCIAL.Insert_Planes"/>
    <add key="Delete_Planes" value="COMERCIAL.SP_DeletePlan"/>
    <add key="Update_Planes" value="COMERCIAL.Update_Planes"/>
    <add key="Filtrar_Planes" value="COMERCIAL.Filtrar_PLanes"/>
    
    <!-- Canton Porc -->
    <add key="Listar_Cantones" value="ADMINISTRATIVO.Listar_Canton"/> 
    
    <!-- DIstrito Proc-->
    <add key="Listar_Distrito" value="ADMINISTRATIVO.Listar_Distrito"/>


    <!--procedures especiales O QUE FALTAN ESTOY AGREGANDOLOS AL SCRIPT (ALE REVISAR)-->
    <add key="drop_cant" value="ADMINISTRATIVO.SP_DROPCANTON"/>
    <add key="drop_distr" value="ADMINISTRATIVO.SP_DROPDISTRITO"/>
    <add key="login" value="ADMINISTRATIVO.SP_LOGIN"/>
    <add key="drop_rol" value="ADMINISTRATIVO.SP_ROL"/>
    <add key="listar_genero" value="ADMINISTRATIVO.SP_SelectProcGenero"/>
    <add key="listar_tipoId" value="ADMINISTRATIVO.SP_SelectTipoIden"/>
    <add key="listar_estadoC" value="ADMINISTRATIVO.SP_SelectEstCivil"/>
    <add key="listar_usuarios" value="ADMINISTRATIVO.SP_SelectUsuario"/>
    <add key="Insert_Persona" value="ADMINISTRATIVO.SP_Insert_Persona"/>
    <add key="Insert_Persona2" value="ADMINISTRATIVO.SP_Insert_Persona_B"/>
    <add key="Insert_Usuario" value="ADMINISTRATIVO.SP_InsertUsuario"/>
    <add key="Listar_Persona" value="ADMINISTRATIVO.SP_Listar_Persona"/>
    <add key="listar_usuarios" value="ADMINISTRATIVO.LISTAR_USUARIOS"/>
    <add key="filtrar_usuarios" value="ADMINISTRATIVO.SP_Filtrar_Usuario"/>
    
    
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_I_DB" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:45631/servicio.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_I_DB" contract="Svc_DataBase.I_DB"
        name="BasicHttpBinding_I_DB" />
    </client>
  </system.serviceModel>
</configuration>