<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_I_DB" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:45631/servicio.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_I_DB" contract="Svc_DataBase.I_DB"
                name="BasicHttpBinding_I_DB" />
        </client>
    </system.serviceModel>
  <appSettings>
    <add key="Listar_provincias" value="ADMINISTRATIVO.Listar_Provicia"/>
    
  </appSettings>
</configuration>