<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_I_DB" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:45631/servicio.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_I_DB" contract="Svc_DataBase.I_DB"
                name="BasicHttpBinding_I_DB" />
        </client>
    </system.serviceModel>
  <appSettings>
    <!--Listar Proc-->
    <add key="Listar_provincias" value="ADMINISTRATIVO.Listar_Provicia"/>
    <add key="Listar_Persona" value="dbo.SP_Listar_Persona"/>
    <add key="Listar_planes" value="dbo.Listar_Planes"/>
    <add key="Listar_tarjetaCredDeb" value="dbo.Listar_TarjetaCredDeb"/>
    <add key="Listar_venta" value="dbo.Listar_Venta"/>
    <add key="Listar_beneficiario" value="dbo.Listar_Beneficiarioa"/>
    <add key="Listar_cobertura" value="dbo.Listar_COBERTURA"/>
    <add key="Listar_Poliza" value="dbo.Listar_Poliza"/>
    <add key="Listar_canton" value="ADMINISTRATIVO.Listar_Canton"/>
    <add key="Listar_Distrito" value="dbo.Listar_Distrito"/>

    <!--Insert Proc-->

    <add key="Insert_Persona" value="dbo.SP_Insert_Persona"/>
    <add key="Insert_EstadoCivil" value="dbo.SP_InsertEstCivil"/>
    <add key="Insert_TipoIdentificacion" value="dbo.SP_InsertTIPO_IDENTIFICACION"/>
    <add key="Insert_Genero" value="dbo.SP_InsertGenero"/>
    <add key="Insert_Usuario" value="dbo.SP_InsertUsuario"/>
    <add key="Insert_Planes" value="dbo.Insert_Planes"/>
    <add key="Insert_Tarjeta" value="dbo.Insert_Tarjeta"/>
    <add key="Insert_Venta" value="dbo.Insert_Venta"/>
    <add key="Insert_Beneficiario" value="dbo.Insert_Beneficiario"/>
    <add key="Insert_Cobertura" value="dbo.Insert_COBERTURA"/>
    <add key="Insert_Poliza" value="dbo.Insert_Poliza"/>
    <add key="Insert_Provincia" value="ADMINISTRATIVO.Insert_Provincia"/>
    <add key="Insert_Distrito" value="dbo.Insert_Distrito"/>
    
    <!--Update Proc-->


    <add key="Update_Persona" value="dbo.SP_Update_Persona"/>
    <add key="Update_EstadoCivil" value="dbo.SP_UpdateEstCivil"/>
    <add key="Update_TipoIdentificacion" value="dbo.SP_Update_TipoIden"/>
    <add key="Update_Genero" value="dbo.SP_UpdateGenero"/>
    <add key="Update_Usuario" value="dbo.SP_UpdateUsuario"/>
    <add key="Update_Planes" value="dbo.Filtrar_Planes"/>
    <add key="Update_TarjetaCredDeb" value="dbo.Update_TarjetaCredDeb"/>
    <add key="Update_Venta" value="dbo.Update_Venta"/>
    <add key="Update_Beneficiario" value="dbo.Update_Beneficiario"/>
    <add key="Update_Cobertura" value="dbo.Update_COBERTURA"/>
    <add key="Update_Poliza" value="dbo.Update_Poliza"/>
    <add key="Update_Provincia" value="ADMINISTRATIVO.Update_Provincia"/>
    <add key="Update_Canton" value="ADMINISTRATIVO.Update_Canton"/>
    <add key="Update_Distrito" value="dbo.Update_Distrito"/>

    <!--Delete Proc-->
    <add key="Delete_Persona" value="dbo.SP_Delete_Persona"/>
    <add key="Delete_EstadoCivil" value="dbo.SP_DeleteEstCivil"/>
    <add key="Delete_TipoIdent" value="dbo.SP_Delete_TipoIdent"/>
    <add key="Delete_Genero" value="dbo.SP_DeleteProcGenero"/>
    <add key="Delete_Usuario" value="dbo.SP_DeleteUsuario"/>
    <add key="Delete_Planes" value="dbo.SP_DeletePlan"/>
    <add key="Delete_Venta" value="dbo.SP_DeleteVenta"/>
    <add key="Delete_Beneficiario" value="dbo.SP_DeleteBeneficiario"/>
    <add key="Delete_Cobertura" value="dbo.SP_DeleteCOBERTURA"/>
    <add key="Delete_Poliza" value="dbo.SP_DeletePoliza"/>
    <add key="Delete_Provincia" value="ADMINISTRATIVO.SP_DeleteProvincia"/>
    <add key="Delete_Canton" value="dbo.SP_DeleteCanton"/>
    <add key="Delete_Distrito" value="dbo.SP_DeleteDistrito"/>
    
    <!--Filtrar Proc-->
    <add key="Filtrar_provincia" value="ADMINISTRATIVO.Filtrar_Provicia"/>
    
    <!--procedures especiales-->
    <add key="drop_cant" value="ADMINISTRATIVO.SP_DROPCANTON"/>
    <add key="drop_distr" value="ADMINISTRATIVO.SP_DROPDISTRITO"/>
    <add key="drop_login" value="ADMINISTRATIVO.SP_LOGIN"/>
    <add key="drop_rol" value="ADMINISTRATIVO.SP_ROL"/>
    <add key="listar_genero" value="ADMINISTRATIVO.SP_SelectProcGenero"/>
    <add key="listar_tipoId" value="ADMINISTRATIVO.SP_SelectTipoIden"/>
    <add key="listar_estadoC" value="ADMINISTRATIVO.SP_SelectEstCivil"/>
  </appSettings>
</configuration>