<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Listar_p2" value="dbo.sp_listar_prueba2"/>
    <add key="insert_p2" value="dbo.sp_insertar_prueba2"/> 
  </appSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_Iservicio" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:3354/servicio.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_Iservicio" contract="sreferencia.Iservicio"
                name="BasicHttpBinding_Iservicio" />
        </client>
    </system.serviceModel>
</configuration>